{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
<div>
    <p> Young kid from the south loved Colorado while visiting on vacation and decides this is
        place for him. Can't beat the climate, lack of bugs, and oh, those mountains. Eventually
        got a college degree in Chemistry from CU in <span style="font-size:8px;">1993</span>.
        This led obviously to...  starting a pizza shop in Nederland
        and a decade of experience in carpentry.</p>
    <p> A need for less human contact led to a the
        purchase of small ranch in SE Colorado. After raising bison for a dozen years, an old
        back injury convinced me to try something new. Oh, and there was this girl too. So back
        to the Front Range but now with a family. I tried Real Estate but not really my cup of tea.
    </p>
    <p> Starting a biz, carpentry, and mostly ranching has honed what I think of as my best
        asset- problem solving. So I decided to learn 'programming'. I learned it from the internet.
        It was hard.
    </p>
    <p> So i ain't got no formal education- there you go. But I hope you can see from my projects
        that I took this endeavor quite seriously. I think my aforementioned education(University of Internet)
        highlights my abilities as a problem solver. I came across many hurdles with little guidance.
        Yet here I am confident that my hard won abilities will score me a new future.
    </p>
    <p> Now living in Golden. Playing lots of tennis with my daughter and trying to keep my border
        collie entertained.
    </p>
    <p> drop me a line at lastgulch@gmail.com
    </p>
    <p> or give me a ring or text at 303-519-0549
    </p>
    <P> Thanks for your time, BuffBob(aka Robert Alsobrook, aka Thistle)</P>
</div>

{% endblock content %}
