{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
<div>
    <p> As a young kid from the south, I just loved Colorado while visiting on vacation, and I quickly decided that this the
        place for me- can't beat the climate, lack of bugs, and these wonderful mountains. After studying chemistry at the
        university in Boulder, I naturally found work as a carpenter and started a pizza shop in the mountains.</p>

    <p> After many pizzas- a need for less human contact led to the purchase of a small ranch
        in SE Colorado. I raised bison for 18 years before an old back injury made me reconsider my future.
        During that time I helped a local land conservancy, <a href="http://southernplains.org/">Southern Plains Land Trust</a>,
        by serving on their board for a decade and hosting many school groups and events for them. I also donated many dozens of bison to
        Indian tribes for food and to help start herds on their reservations, and worked with the
        <a href="https://www.denverindiancenter.org/">Denver Indian Center</a> to host gatherings and hunts.
        My ranch also served as a retirement facility for the Denver Zoo when they needed a home for their aging bison.
    </p>
    <p>
        I moved back to the Front Range and, after being miserable selling real estate, I decided to learn
        'programming'. I learned it from the internet and it was hard. I not only learned to program but also learned a bit about computer
        science and refreshed my math. Starting businesses, carpentry, and mostly ranching has honed
        what I think of as my best asset- problem-solving. I have found that I bring this asset to the world of programming as well.
        I am confident that my hard won abilities will score me a new future.
    </p>
    <p> I am now living in Golden, Colorado. My current interests and hobbies include wilderness camping, inline skating, skiing, gardening,
        sailing, and keeping my border collie entertained.
    </p>
    <p> Thanks for your time, BuffBob<br>aka Robert Alsobrook</p>
</div>

{% endblock content %}
{% block sidebar %}
{% include "sidebar.html" %}
<div class="text-center">
    <div id="contact">
        <h5>Contact Info</h5>
        <div>email: lastgulch@gmail.com</div>
        <div>cell: 303-519-0549</div>
        <a href="mailto:lastgulch@gmail.com?subject=buffbob- a job opportunity!">contact me</a>
    </div>
</div>
{% endblock %}
