{% extends "layout.html" %}
{% block head %}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='ranch_web_style.css') }}">-->
<!--<script src="{{ url_for('static', filename='home.js') }}"></script>-->
{% endblock %}
{% block content %}

<h3>
    Welcome to my I need a job page!
</h3>
<span><img id='rat1' src="{{ url_for('static', filename='images/rattler_cropped.jpg') }}" width="200px" alt="rattler"></span>
<hr>
<p>
    <span style="font-size:30px;font-style:bold;">Once upon </span>a time, in a far, far away land, I developed a distaste for rattlesnakes. And
    so began my journey in programming. A milestone has been reached on my journey and it
    is time to offer my services to the world. So please discover why I would make a good
    addition to your team... and save me from those rattlesnakes.
</p>
<div>
    <ul>
        <li>Strong java skills- <a href="https://www.credly.com/badges/b064874d-2f8e-4568-a510-708e0b1ca9fb" target="_blank">Oracle Certified Associate, Java SE 8 Programmer</a></li>
        <li>Strong data analysis skills</li>
        <li>Machine and deep learning with tensorflow, keras, scikit, tensorflowJS and kaggle experience</li>
        <li>Web development in python with flask or django and in java with spring</li>
        <li>Experienced with the essentials- git, linux, sql, servers, docker, maven, C, javascript, html/css ...</li>
        <li>some experience with frontend frameworks- react and vaadin, and also javaFx</li>
        <li>GIS and remote sensing- Qgis, Grass as well as terminal and open source python programming for remote sensing including
            lidar
        </li>
    </ul>
</div>
<div class="text-center">
    <img id='rat2' src="{{ url_for('static', filename='images/RattlerTongue.jpg') }}" width="200px" alt="tounge">
</div>
<div><span style="font-size:30px;font-style:bold;">Looking for work </span>that would allow me a chance to advance a career. But hey- just getting
    started. Got something good- <a href="mailto:lastgulch@gmail.com?subject=buffbob- a job opportunity!">let me know</a> and thanks for your time.
</div>
{% endblock content %}
{% block sidebar %}
<div id="display-area" class="">
Ranch Life- the good parts
</div>
<div class="">
    <img id='display-img' src="{{ url_for('static', filename='images/ranch_web/ranch1.JPG') }}">
</div>
<div id="thumb-bar-div" class="text-center"></div>
{% include "sidebar.html" %}
{% endblock %}
