{% extends "layout.html" %}
{% block content %}

<h3>
  Welcome to my- I need a job page!
</h3>
<hr>
<p>
  Once upon a time in a far away mindset I developed a distaste for rattlesnakes- and
  so began my journey in programming. Now a milestone has been reached in my journey, it
  is time to offer my services for hire. So sit back and discover why I would make a good
  addition to your highly successful, prosperous and generous establishment. And save me
  from those rattlesnakes.
</p>
<div>
  <ul>
    <li>Strong python data anylysis chops</li>
    <li>Machine Learning with tensorflow, keras, scikit and kaggle experience</li>
    <li>Decent web backend skills with python and flask</li>
    <li>Experienced with the basics- git, linux, sql databases, decent server skills</li>
    <li>Pretty strong core java skills, messing around with julia, and c and microprocessors</li>
    <li>GIS/mapping/analysis- Qgis, and Grass as well as terminal and python programming for remote sensing and lidar</li>
  </ul>
</div>
<hr>
<div><span style="font-size:30px;font-style:bold;">Looking for work </span>that would hopefully allow me to further my interests in machine learning and
  remote sensing data. But hey, just getting started. I am looking for a smallish, dynamic, cutting
  edge team to join. Got something good- let me know and thanks for your time.
</div>

{% endblock content %}
{% block sidebar %}
<div class="text-center">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light" style="font-size:22px;"><a
                            href="http://www.Tweestmasters.com">TweestMasters</a></li>
                    <div class="my_description ">Flask web app that is a cross between twitter and Toast Masters</div>
                    <li class="list-group-item list-group-item-light" style="font-size:22px;"><a href="/">data pipelines
                        for ML</a></li>
                    <div class="my_description">Figuring out best ways to move data around with some kaggle examples.
                    </div>

                    <li class="list-group-item list-group-item-light" style="font-size:22px;"><a href="http://birdimageclassifier.us-east-2.elasticbeanstalk.com/">Bird
                        Classifier</a></li>
                    <div class="my_description">Web based image manager and user assisted classifier. Written in flask
                        using google or flicker apis.
                    </div>

                    <li class="list-group-item list-group-item-light" style="font-size:22px;"><a href="#">Lidar
                        Notebooks</a></li>
                    <div class="my_description">Exploration of techniques and data pipeline development</div>
                </ul>
                <!--
                  Trying dropdown to some links
                -->
                <hr>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type='button' id="dropDownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Some places to visit
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropDownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('users.map') }}">View atop Pikes Peak</a>
                        <a class="dropdown-item" href="http://catnipapp-env.eba-4ft8z3z9.us-east-2.elasticbeanstalk.com/">Chuckle now</a>
                        <a class="dropdown-item" href="https://hub.docker.com/u/paddypup">My DockerHub</a>
                        <a class="dropdown-item" href="https://github.com/buffbob">My Github</a>
                        <a class="dropdown-item" href="{{ url_for('users.fol1')}}">Map 1</a>
                        <a class="dropdown-item" href="{{ url_for('users.fol2') }}">Map 2</a>
                    </div>
                </div>

            </div>
{% endblock %}
