{% extends "layout.html" %}
{% block head %}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='ranch_web_style.css') }}">-->
<!--<script src="{{ url_for('static', filename='home.js') }}"></script>-->
{% endblock %}
{% block content %}

<h3>
    Welcome to my- I need a job page!
</h3>
<span><img id='rat1' src="{{ url_for('static', filename='images/rattler_cropped.jpg') }}" width="200px" alt="rattler"></span>
<hr>
<p>
    <span style="font-size:30px;font-style:bold;">Once upon </span>a time in a far, far away mindset I developed a distaste for rattlesnakes- and
    so began my journey in programming. Now a milestone has been reached and it
    is time to offer my services to the world. So please discover why I would make a good
    addition to your business... and save me from those rattlesnakes.
</p>
<div>
    <ul>
        <li>Strong python data anylysis chops and Strong core java skills</li>
        <li>Machine and Deep Learning with tensorflow, keras, scikit and kaggle experience</li>
        <li>Decent web development skills with flask</li>
        <li>Experienced with the essentials- git, linux, sql, servers, docker</li>
        <li>GIS and remote sensing- Qgis, Grass as well as terminal and open source python programming for remote sensing including
            lidar
        </li>
        <li>Other languages- C, Lua, Octave, Frontend, JavaScript, Russian </li>
    </ul>
</div>
<div class="text-center">
    <img id='rat2' src="{{ url_for('static', filename='images/RattlerTongue.jpg') }}" width="200px" alt="tounge">
</div>
<div><span style="font-size:30px;font-style:bold;">Looking for work </span>that would hopefully allow me to further my
    interests in machine learning, remotely sensed data, and/or web development. But hey, just getting started.
    Got something good-         <a href="mailto:lastgulch@gmail.com">let me know</a> and thanks for your time.
</div>
{% endblock content %}
{% block sidebar %}
<div id="display-area" class="">
Ranch Life- the good parts
</div>
<div class="">
    <img id='display-img' src="{{ url_for('static', filename='images/ranch_web/ranch1.JPG') }}">
</div>
<div id="thumb-bar-div" class="text-center"></div>
{% include "sidebar.html" %}
{% endblock %}
