{% extends "layout.html" %}
{% block content %}

<h3>
  Welcome to my- I need a job page!
</h3>
<hr>
<p>
  Once upon a time in a far away mindset I developed a distaste for rattlesnakes- and
  so began my journey in programming. Now a milestone has been reached in my journey, it
  is time to offer my services for hire. So sit back and discover why I would make a good
  addition to your highly successful, prosperous and generous establishment. And save me
  from those rattlesnakes.
</p>
<div>
  <ul>
    <li>Strong python data anylysis chops</li>
    <li>Machine Learning with tensorflow, keras, scikit and kaggle experience</li>
    <li>Decent web backend skills with python and flask</li>
    <li>Experienced with the basics- git, Linux command line, various sql, passable server skills</li>
    <li>Strong java skills, messing around with julia- love it, haven't shirked from needed math</li>
  </ul>
</div>
<hr>
<div><span style="font-size:30px;font-style:bold;">Looking for work </span>that would hopefully allow me to further my interests in machine learning and
  remote sensing data. But hey, just getting started. I am looking for a smallish, dynamic, cutting
  edge team to join. Got something good- let me know and thanks for your time.
</div>

{% endblock content %}
