<div class="content-section text-center">
    <h3 class="list-group-item list-group-item-light">Some Projects</h3>
</div>
<div class="text-center">
    <ul class="list-group">
        <li class="list-group-item list-group-item-light" style="font-size:22px;">
            <div>
                <a href="http://www.Tweestmasters.com">TweestMasters</a>
            </div>
            <span class="my_description ">twitter meet Toast Masters</span>
        </li>
        <li class="list-group-item list-group-item-light" style="font-size:22px;">
            <a href="http://birdimageclassifier.us-east-2.elasticbeanstalk.com/">Bird Classifier</a>
            <div class="my_description">Image scrapper, manager, and user assisted classifier.
            </div>
        </li>
        <li class="list-group-item list-group-item-light" style="font-size:22px;">
            <button class="btn btn-secondary dropdown-toggle" type='button' id="lidarMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Remotely Sensed Data
            </button>
            <div class="dropdown-menu" aria-labelledby="dropDownMenuButton">
                <a class="dropdown-item" href="https://github.com/buffbob/New_Zealand_lightning_strikes">Gold
                    Strikes?</a>
                <a class="dropdown-item" href="https://github.com/buffbob/Idaho_springs">
                    DEMs near Idaho Springs bike path</a>
            </div>
            <div class="my_description">GIS and lidar projects</div>
        </li>
        <li class="list-group-item list-group-item-light" style="font-size:22px;">
            <button class="btn btn-secondary dropdown-toggle" type='button' id="pipelinesMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ML pipelines
            </button>
            <div class="dropdown-menu" aria-labelledby="dropDownMenuButton">
                <a class="dropdown-item" href="https://github.com/buffbob/titanic">Titanic</a>
                <a class="dropdown-item" href="https://github.com/buffbob/air_bus">Air-bus Image Detection</a>
                <a class="dropdown-item" href="https://github.com/buffbob/ships_from_space">Ships from Satellite
                    Imagery</a>
            </div>
            <div class="my_description pt-2">Kaggle examples
            </div>
        </li>
        <li class="list-group-item list-group-item-light" style="font-size:22px;">
            <div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type='button' id="dropDownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Some places to visit
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropDownMenuButton">
                        <a class="dropdown-item" href="https://hub.docker.com/u/paddypup">My DockerHub</a>
                        <a class="dropdown-item" href="https://github.com/buffbob">My Github</a>
                        <a class="dropdown-item" href="https://github.com/buffbob/JavaProjects">Java projects on my github</a>
                        <a class="dropdown-item" href="{{ url_for('users.jsapps') }}">JS Play</a>
                        <a class="dropdown-item" href="{{ url_for('static', filename='resume2.pdf') }}">My boring resume</a>
                        <a class="dropdown-item" href="{{ url_for('users.mlapps') }}">TensorflowJS</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item list-group-item-light" style="font-size:22px;">
            <div>
                <a href="{{ url_for('static', filename='resume.pdf') }}">My boring resume</a>
            </div>

        </li>
    </ul>
    <!--
      Trying dropdown to some links
    -->
    <hr>
    <div class="mb-3">

    </div>

</div>